#pie {
    height: 400px;
    width: 400px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}

.segment {
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--offset, 0) * 1deg));
    transform-origin: 50% 100%;
}
.segment:before {
    background: var(--bg);
    content: '';
    height: 100%;
    position: absolute;
    transform: translate(0, 100%) rotate(calc(var(--value, 45) * 1deg));
    transform-origin: 50% 0;
    width: 100%;
}